/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}


/****** Header ***********/
header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: 30px 50px;
}

.logo img {
    width: 100px;
}

nav {
    display: flex;
    gap: 68px;
    margin: 0;
}

nav a {
    padding: 30px 0;
}

.accommodation:hover,
.activities-nav:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Form ***********/
.search-location {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--main-bg-color);
    border-radius: 10px;
    width: 290px;
    margin: 30px 0;
}

.search-location input {
    border: none;
    padding: 10px;
    font-weight: bold;
}

.btn-search {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-mobile {
    border-radius: 10px;
}

.btn-mobile {
    display: none;
}

.icon-location {
    display: flex;
    min-width: 20px;
    padding: 10px;
    background-color: var(--main-bg-color);
    border-radius: 10px 0 0 10px;
    justify-content: center;

}

/****** Filters ***********/
.filters {
    display: flex;
    flex-direction: row;
}

.filters ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filters li {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid var(--main-bg-color);
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

.filters li:hover {
    transition: 0.5s;
    background-color: var(--filter-bg-color);
}

.icon-filter {
    color: var(--main-color);
    margin-right: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.info i {
    border: 2px solid var(--main-bg-color);
    padding: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.body-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 33px;
    width: 100%;
}

.hebergements-cards a {
    width: 31%;
    margin-bottom: 20px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 0 0 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities {
    width: 100%;
    margin-top: 50px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 33px;
    width: 100%;
    gap: 30px;

}

.activities-cards a {
    width: 25%;
}

.activities-cards img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities-cards article {
    padding: 0;
}

.activities-cards .card-content {
    width: 90%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;

}

/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    margin-top: 50px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px 0 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer-content h3 {
    margin-bottom: 20px;
}

.footer-content ul {
    margin: 0;
    padding: 0;
}

.footer-content li {
    list-style: none;
    margin-bottom: 20px;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards img {
        height: 200px;
    }

    .activities-cards a {
        width: 25%;
    }

    .activities-cards .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .activities-cards .card-title {
        margin: 0;
    }

    .activities-cards .card-content {
        display: flex;
        justify-content: center;
        height: 60px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    * {
        box-sizing: border-box;
    }

    .body-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 30px 0;
    }

    nav {
        width: 100%;
        gap: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .title {
        padding: 0 20px;
    }

    .accommodation,
    .activities-nav {
        width: 50%;
        padding: 0;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        border-bottom: var(--main-bg-color) 2px solid;
    }

    .accommodation:hover,
    .activities-nav:hover {
        width: 50%;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .btn-search {
        display: none;
    }

    .btn-mobile {
        display: block;
    }

    .search-location {
        width: 90%;
        justify-content: space-between;
        margin: 30px;
    }

    .search-location input {
        width: 100%;
    }

    .filters {
        padding: 0 20px;
    }

    .filters ul {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filters li {
        width: 45%;
        font-size: 14px;
    }

    .info {
        padding: 0 20px;
    }

    .info i {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 20px;

    }

    .hebergements-and-populaires section {
        padding: 20px;
        border-radius: 0;
    }

    /****** Populaires mobile ***********/

    .populaires {
        margin: 0;
    }

    .populaires-cards .card {
        margin: 10px 0;
    }

    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    /****** Hebergements mobile ***********/

    #hebergements {
        background-color: white;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
    }


    /****** Activities mobile ***********/

    .activities {
        padding: 0 20px;
        margin-top: 20px;
    }

    .activities-cards {
        flex-direction: column;
        gap: 10px;
    }

    .activities-cards a {
        width: 100%;
    }

    .activities-cards img {
        height: 150px;
    }

    .activities-cards .card-content {
        padding: 15px;
    }


    /****** Footer mobile ***********/
    .footer {
        flex-direction: column;
        margin: 0 20px;
    }

    .footer-content li {
        margin-bottom: 15px;
    }

}